<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Visualizar Produto</title>
    <link href="/System/Assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/System/Assets/css/text-helper.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
</head>
<body class="bg-light">
    <div id="AppContent">
        <div id="AppPageHeader">
            <nav class="navbar navbar-dark" style="background-color: #6610f2">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <i class="bi bi-house-heart-fill"></i>
                        <span id="ProdutoNome">@{ProdutoNome}</span>
                    </a>
                    <div class="d-flex">
                        <button type="button" class="btn btn-light"><i class="bi bi-box-seam"></i></button>
                    </div>
                </div>
            </nav>
        </div>
        <div id="AppPageBody">
            <div class="row p-3 m-0">
                <div class="mb-3 p-2 shadow-sm bg-white rounded">
                    <label for="ProdutoID" class="form-label text-sm text-muted">ID</label>
                    <input type="number" readonly class="form-control-plaintext" id="ProdutoID"
                           value="@{ProdutoID}">
                </div>
                <div class="mb-3 p-2 shadow-sm bg-white rounded">
                    <label for="ProdutoValidade" class="form-label text-sm text-muted">Validade</label>
                    <input type="date" readonly class="form-control-plaintext" id="ProdutoValidade"
                           value="@{ProdutoValidade}">
                </div>
                <div class="mb-3 p-2 shadow-sm bg-white rounded">
                    <label for="ProdutoReposicaoData" class="form-label text-sm text-muted">Data de Reposição</label>
                    <input type="date" readonly class="form-control-plaintext" id="ProdutoReposicaoData"
                           value="@{ProdutoReposicaoData}">
                </div>
                <div class="mb-3 p-2 shadow-sm bg-white rounded">
                    <label for="ProdutoUltimoRepositor" class="form-label text-sm text-muted">Ultimo Repositor</label>
                    <input type="text" readonly class="form-control-plaintext" id="ProdutoUltimoRepositor"
                           value="@{ProdutoUltimoRepositor}">
                </div>
            </div>
        </div>
    </div>
<script src="/System/Assets/js/bootstrap.bundle.min.js"></script>
</body>
</html>